body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px!important;
}

.main-menu {
    width: 100%;
    background-color: #706939;
    height: 60px;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    padding: 16px;
    float: left;
    width: 70%;
}


.social-media ul li {

    display: inline-block;
    float: left;
    margin-left: 25px;
    list-style: none;
}

.social-media {
    padding: 16px;
    float: right;
    width: 25%;
}

.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;

}

.menu-urls {
    padding: 16px;
    height: 75px;
    border-bottom: 3px solid #efefef;
}

.menu ul li:hover {
    border-bottom: 3px solid #bdb060;
}

.menu ul li a:hover {
    color: #bdb060;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 60px;
}

.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 75%;
    float: left;
}

.busca {
    
    text-align: center;
    width: 25%;
    float: right;
}

.busca input {
    background-image: url(../img/iconsearch.png);
    background-repeat: no-repeat;
    background-position: 96%;
    height: 36px;
    padding: 12px;
    width: 190px;
    border: 1px solid #d6d6d6;

}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    background-image: url(../img/arrow-l.png);
    position: absolute;
    top: 35%;
    left: 14%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    background-image: url(../img/arrow_r.png);
    position: absolute;
    top: 35%;
    right: 14%;
}

.slick-list {
    width: 100%!important;
}

.slick-initialized {
    overflow: hidden;
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 43%;
    top:  400px;
}

.slick-dots li button {
    font-size: 0px;
    border: 5px solid white;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background: transparent;
    cursor: pointer;
}

.slick-dots li {
    padding-left: 10px;
    display: inline-block;
}

li.slick-active button {
    background: black;
}

.texto-destaque {
    text-align: center;
}

.texto-destaque strong {
    color:#646464;
}

.texto-destaque h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #4d4b4b;
}

.texto-destaque h3 {
    text-align: center;
    color: #4d4b4b;
}
.texto-destaque p {
    text-align: center;
    font-size: 15px;
    color: #a59fa3;
}

.col-3 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 33%;
    float: left;
    position: relative;
}

.bloco-texto {
    margin-top: 3em;
}

h3 {
    font-weight: normal!important;
}

.bloco-imagem img {
margin: 0 auto;
width: 100%;
height: auto;
}

.bloco-imagem b,p {
    font-size: 15px;
    text-align: left;
    color: black;
}

.bloco-imagem {
    height: 315px;
    border: 1px solid #c5c5c5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
}

.bloco-imagens-texto {
    background-color: #eeeeee;
}
.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: #ffffff;
    background-image: url('../img/seta.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #eeeeee;
} 
.col-4 {
    float: left;
    width: 25%;
    text-align: center;
}
.col-4 img {
cursor: pointer;
 margin: 0 auto;
 padding-top: 1em;
 vertical-align: middle;
}
.col-4 img:hover {
    margin-top: 10px!important;
    position: relative!important;
}

.bloco-logos {
    height: 170px;
}

.bloco-logos img {
    margin-top: 50px;
}

.footer h3 {
    text-align: left;
}

.footer {
    background-image: url('../img/footer1.png');
    color: #ffffff;

}

.footer-2 {
    background-image: url('../img/footer2.png');
    color: #c1c1c1;
    height: 90px;
}


.footer p {
    color: #ffffff;
    width: 90%;
    text-align: left;
}


.footer-2 p {
    padding: 10px;
}

.clock {
    color: #898989!important;
}

.clock:before {
    content: '';
    width:  15px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/clock.png');
    float: left;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.local:before, .emailico:before, .telefoneico:before {
    content: '';
    width:  17px;
    height: 24px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.local:before {
    background-image: url('../img/local.png');
}  
.emailico:before {
    background-image: url('../img/emailico.png');
}  
.telefoneico:before {
    background-image: url('../img/telefoneico.png');
}  

.marcas {
    background-color: white;
    height: 60px;
}